<html><head>
<link rel="stylesheet" type="text/css" href="/+media/style.css"/>
<link rel="stylesheet" type="text/css" href="/+media/pastie.css"/>
</head><body>
<p>Language: {{ language }}</p>
<div class="pastie">
{% autoescape off %}{{ content }}{% endautoescape %}
</div>
<p><a href="{% url tempel_raw entry.id %}">raw format</a> &ndash;
    <a href="{% url tempel_view entry.id %}?download">download</a>
{% if editable %}
    &ndash; <a href="{% url tempel_edit entry.id token %}">edit</a>
{% endif %}
    </p>
</body></html>
